@charset 'utf-8';
html {
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
body {
  min-height: 100%;
  overflow-x: hidden;
  color: rgb(29, 29, 31);
  letter-spacing: -0.05em;
  background-color: white;
}
a {
  color: rgb(29, 29, 31);
}
p {
  line-height: 1.6;
}
/* nav */
.global__nav {
  height: 44px;
  padding: 0 1rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.local__nav {
  padding: 0 1rem;
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
}
.global__nav__links,
.local__nav__links {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
  align-items: center;
}
.global__nav__links {
  justify-content: space-between;
}
.product__name {
  margin-right: auto;
}
.local__nav {
  height: 52px;
  border-bottom: 1px solid #ddd;
}
.local__nav__links a:not(.product__name) {
  margin-left: 2em;
  font-size: 0.8rem;
}
.local__nav__links .product__name {
  font-size: 1.4rem;
  font-weight: 900;
}

/* section */
.scroll__section {
  padding-top: 50vh;
  margin: 0 1rem;
  border: 1px solid red;
}
#scroll__section_0 h1 {
  font-size: 4rem;
  text-align: center;
}
.main__message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
  font-size: 2.5rem;

  margin-bottom: 5px;
}
.main__message p {
  line-height: 1.2;
  font-weight: bold;
  text-align: center;
}
.description {
  font-size: 1.2rem;
  color: #888;
  max-width: 1000px;
  margin: 0 auto;
}
.description strong {
  font-size: 3rem;
  float: left;
  color: black;
  margin-right: 0.2em;
  font-weight: bold;
}
.main__message small {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}
#scroll__section_2 .main__message {
  font-size: 3.5rem;
}
.desc__message {
  width: 50%;
}
.pin {
  width: 1px;
  height: 100px;
  background-color: rgb(29, 29, 31);
}

.mid__message {
  padding: 0 1rem;
  font-size: 2rem;
  color: #888;
  max-width: 1000px;
  margin: 0 auto;
}
.mid__message strong {
  color: rgb(29, 29, 31);
}
.canvas__caption {
  max-width: 1000px;
  font-size: 1.2rem;

  margin: 0 auto;
  padding: 0 1rem;

  color: #888;
}
.mid__message {
  font-size: 4vw;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  background-color: darksalmon;
}
.sticky__elem {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
/* body */
#show__scene_0 #scroll__section_0 .sticky__elem,
#show__scene_1 #scroll__section_1 .sticky__elem,
#show__scene_2 #scroll__section_2 .sticky__elem,
#show__scene_3 #scroll__section_3 .sticky__elem {
  display: block;
}

@media (min-width: 1024px) {
  #scroll__section_0 h1 {
    font-size: 9vw;
  }
  .main__message {
    font-size: 4vw;
  }
  .description {
    font-size: 2rem;
  }
  .description strong {
    font-size: 5vw;
  }
  #scroll__section_2 .main__message {
    font-size: 5vw;
  }
  .main__message small {
    font-size: 2.5vw;
  }
  .desc__message {
    width: 20%;
  }
}
